.containerProducts {
  margin: 0px 67px;
}

.titleProducts {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.containerProduct {
  display: flex;
  flex-wrap: wrap;
}
